vi /home/pi/remoting.service

[Unit]
Description=Remote access through pitunnel
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash ./remote_access.sh
WorkingDirectory=/home/pi/Strato_Pi
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
