.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

 .progress .progress-right .progress-bar {
     left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}



body {
    background: #ff7e5f;
    background: -webkit-linear-gradient(to right, #ff7e5f, #feb47b);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    min-height: 100vh;
}

.rounded-lg {
    border-radius: 1rem;
}

.text-gray {
    color: #aaa;
}

div.h4 {
    line-height: 1rem;
}

nav-text {
    font-size: 25px;
}

h2 {
    font-size: 26px;
    font-weight:500;
}

.select__item {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    transition: background 0.3s;
}

.select__item--selected {
    background: #ff976c;
    color: #fff;
}

.select__item--selected span.small {
    color: #fff;
}

span.subtext {
    max-width: 150px;
}

.button-custom {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 12px;
    border-color: #ff976c;
    box-sizing: border-box;
    color: #ff976c;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 7px 30px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none #fff solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-custom:hover {
    background-color: #ff976c;
    color: #fff;
}

.button-custom:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button-custom {
        padding: .75rem 1.5rem;
    }
}