<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/roundslider.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/test_style.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/navbar.css')}}"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" type="text/javascript"></script>


    <title>Koormusmasin</title>
</head>
<body>
    <div class="top-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <h2 class="navbar-brand">TalTech</h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-11 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('control')}}">System control</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('docs')}}">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('camera')}}">Camera view</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container py-5">
        <div class="row">
            <!--First block-->
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="font-weight-bold text-center mb-4">Load 1</h2>

                    <!-- Motor 1 -->
                    <div class="mx-auto" id="slider1">
                    </div>
                    <!-- END -->
                    <!-- Motor 1 info-->
                    <form action="">
                        <select id="parameter1" class="custom-select">
                            <option value="Current">10A</option>
                            <option value="Voltage">380V</option>
                            <option value="Moment">100%</option>
                            <option value="Frequency">50Hz</option>
                            <option value="Rotation speed">1450 RPM</option>
                        </select>
                    </form>
                </div>

            </div>
            <!--first block end-->
            <!--Second block-->
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="font-weight-bold text-center mb-4">Load 2</h2>

                    <!-- Motor 2 -->
                    <div class="mx-auto" id="slider2">
                    </div>
                    <!-- END -->
                    <!-- Motor 2 info-->
                    <form action="">
                        <select id="parameter2" class="custom-select">
                            <option value="Current">10A</option>
                            <option value="Voltage">380V</option>
                            <option value="Moment">100%</option>
                            <option value="Frequency">50Hz</option>
                            <option value="Rotation speed">1450 RPM</option>
                        </select>
                    </form>
                    <!-- END -->
                </div>

            </div>
            <!--Second block end-->
            <!--Third block-->
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class=" font-weight-bold text-center mb-4">Main motor</h2>

                    <!-- Motor 3 -->
                    <div class="mx-auto" id="slider3">
                    </div>
                    <!-- END -->
                    <!-- Motor 3 info-->
                    <form action="">
                        <select name="parameter1" class="custom-select">
                            <option value="Current">10A</option>
                            <option value="Voltage">380V</option>
                            <option value="Moment">100%</option>
                            <option value="Frequency">50Hz</option>
                            <option value="Rotation speed">1450 RPM</option>
                        </select>
                    </form>
                    <!-- END -->
                </div>

            </div>
            <!--Third block end-->
        </div>
    </div>
    <!--OVERVIEW END-->

    <div class="container py-5">
        <div class="row">
            <!--First block-->
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="font-weight-bold text-center mb-4">Load 1</h2>

                    <!-- Motor 1 -->
                    <div class="mx-auto slider1" id="slider1">
                    </div>
                    <!-- END -->
                    <!-- Motor 1 info-->
                    <form name="par1" action="">
                        <select id="parameter1" class="custom-select">
                            <option value="Current">10A</option>
                            <option value="Voltage">380V</option>
                            <option value="Moment">100%</option>
                            <option value="Frequency">50Hz</option>
                            <option value="Rotation speed">1450 RPM</option>
                        </select>
                    </form>

                    <!--Buttons-->
                    <div class="button-block row text-center" mt-3>
                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button11" onclick="toggled(this)">Juhtumine Modbusilt</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button12" onclick="toggled(this)">Juhtimine paneelilt</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button13" onclick="toggled(this)">Shutdown</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button14" onclick="toggled(this)">Fault reset</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button15" onclick="toggled(this)">Päripäeva</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button16" onclick="toggled(this)">Vastupäeva</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button17" onclick="toggled(this)">Button7</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button18" onclick="toggled(this)">Button8</button>
                        </div>

                        <div class="col-lg-12 text-center">
                            <button class="stop" id="Button19" onclick="toggled(this)">STOP</button>
                        </div>
                    </div>

                </div>

            </div>
            <!--first block end-->
            <!--Second block-->
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class="font-weight-bold text-center mb-4">Load 2</h2>

                    <!-- Motor 2 -->
                    <div class="mx-auto slider2" id="slider2">
                    </div>
                    <!-- END -->
                    <!-- Motor 2 info-->
                    <form action="">
                        <select id="parameter2" class="custom-select">
                            <option value="Current">10A</option>
                            <option value="Voltage">380V</option>
                            <option value="Moment">100%</option>
                            <option value="Frequency">50Hz</option>
                            <option value="Rotation speed">1450 RPM</option>
                        </select>
                    </form>

                    <!--Buttons-->
                    <div class="button-block row text-center" mt-4>
                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button21" onclick="toggled(this)">Juhtumine Modbusilt</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button22" onclick="toggled(this)">Juhtimine paneelilt</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button23" onclick="toggled(this)">Shutdown</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button24" onclick="toggled(this)">Fault reset</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button25" onclick="toggled(this)">Päripäeva</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button26" onclick="toggled(this)">Vastupäeva</button>
                        </div>

                        <div class="col-lg-12 text-center">
                            <button class="stop" id="Button29" onclick="toggled(this)">STOP</button>
                        </div>

                    </div>
                    <!-- END -->
                </div>

            </div>
            <!--Second block end-->
            <!--Third block-->
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="bg-white rounded-lg p-5 shadow">
                    <h2 class=" font-weight-bold text-center mb-4">Main motor</h2>

                    <!-- Motor 3 -->
                    <div class="mx-auto slider3" id="slider3">
                    </div>
                    <!-- END -->
                    <!-- Motor 3 info-->
                    <form action="">
                        <select id="parameter3" class="custom-select">
                            <option value="Current">10A</option>
                            <option value="Voltage">380V</option>
                            <option value="Moment">100%</option>
                            <option value="Frequency">50Hz</option>
                            <option value="Rotation speed">1450 RPM</option>
                        </select>
                    </form>

                    <!--Buttons-->
                    <div class="button-block row text-center" mt-4>
                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button31" onclick="toggled(this)">Juhtimine Modbusilt</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button32" onclick="toggled(this)">Juhtimine paneelilt</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button33" onclick="toggled(this)">Shutdown</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button34" onclick="toggled(this)">Fault reset</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button35" onclick="toggled(this)">Päripäeva</button>
                        </div>

                        <div class="col-6 text-center">
                            <button class="button-custom" type="button" id="Button36" onclick="toggled(this)">Vastupäeva</button>
                        </div>

                        <div class="col-lg-12 text-center">
                            <button class="stop" id="Button39" onclick="toggled(this)">STOP</button>
                        </div>
                    </div>
                    <!-- END -->
                </div>

            </div>
            <!--Third block end-->
            <script src="{{url_for('static', filename='js/control.js')}}" type="text/javascript"></script>
            <script>
                function toggled(elt) {
                    let name = elt.id;
                    fetch("/test", {
                        method: "POST",
                        body: JSON.stringify({name})
                    })
                }
            </script>

        </div>
    </div>
</body>
</html>
